<p id="notice"><%= notice %></p>
  <h1>投稿一覧</h1>
    <div class="container">
        <div class="row">
               <div class="col-lg-4" style="background-color: orange;">
                  <h2>サイドバー</h2>
                </div>
                   <div class="col-lg-8">
              <table class="table table-striped">
              </table>
            </div>
        </div>
    </div>
  <br>
<%= link_to '新規投稿作成', new_post_path, class: "btn btn-secondary" %>